.profile-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.profile-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  width: 450px;
  text-align: center;
}

.profile-icon {
  font-size: 100px;
  color: #2F88B1;
}

.role {
  color: #666;
  margin-bottom: 20px;
}

.info p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  color: #444;
}

.info mat-icon {
  font-size: 20px;
}

.link a {
  color: #2F88B1;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

/* About section */
.about-section {
  margin-top: 20px;
  text-align: left;
}

.about-section h3 {
  margin-bottom: 6px;
}

/* Edit form */
.edit-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.edit-form input,
.edit-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.edit-form textarea {
  resize: none;
  height: 90px;
}


.profile-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
  color: #2F88B1;
  margin-bottom: 10px;
}
