.container {
  height: 100vh;
  background: #fafafa;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

/* TOPBAR */
.toolbar {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 20px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #2F88B1;
}

/* SIDEBAR */
.sidenav {
  width: 240px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding-top: 10px;
  /* overflow-x: hidden;  */
}


mat-nav-list a {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 12px 10px;
  margin: 6px 4px;   
  width: calc(100% - 8px);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #4b5563;
  box-sizing: border-box;
}

.active-link {
  background: #e0e7ff !important;
  color: #2F88B1 !important;
  font-weight: 600;
}


mat-nav-list a:hover {
  background: #f3f4f6;
}

.active-link {
  background: #e0e7ff !important;
  color: #246A8B !important;
  font-weight: 600;
}

/* Sidebar icons */
.icon {
  margin-right: 14px;
  color: #2F88B1;
}

/* CONTENT AREA */
.content {
  flex: 1; 
  padding: 24px;
  overflow-y: auto; 
  overflow-x: hidden; 
}

/* RESPONSIVE */
.spacer {
  flex: 1 1 auto;
}

.mobile-toggle {
  display: none;
}

@media (max-width: 768px) {
  .mobile-toggle {
    display: inline-flex;
  }
}

.footer-toolbar {
  justify-content: center;
  font-size: 14px;
  opacity: 0.9;
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  overflow: hidden; 
}

.footer-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  text-decoration: underline;
}


mat-sidenav-content {
  overflow-x: hidden !important;
}

.profile-icon {
  cursor: pointer;
  text-decoration: none;
   color: #2F88B1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
     color: #2F88B1;
}


